<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MigrationWinFormSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MigrationSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="default-environement" value="prod" />
    <add key="loginWindowsUrl" value="https://login.windows.net" />

    <add key="dxt-location" value="eastus(stage)" />
    <add key="dxt-location-friendly" value="East US (Stage)" />
    <add key="msit-location" value="southcentralus(stage)" />
    <add key="msit-location-friendly" value="South Central US (Stage)" />

    <add key="dxt-apiEndpointUri" value="https://powerbistagingapi.analysis.windows.net" />
    <add key="dxt-azureApiEndpoint" value="https://management.azure.com" />

    <add key="msit-apiEndpointUri" value="https://api.powerbi.com" />
    <add key="msit-azureApiEndpoint" value="https://management.azure.com" />

    <add key="prod-apiEndpointUri" value="https://api.powerbi.com" />
    <add key="prod-azureApiEndpoint" value="https://management.azure.com" />

    <add key="MigrationRoot" value="C:\MigrationData" />
    <add key="powerbi-service-apiEndpointUri" value="https://api.powerbi.com" />
    <add key="powerbi-service-loginWindowsUrl" value="https://login.windows.net" />
    <add key="graph-apiEndpointUri" value="https://graph.microsoft.com" />
    <add key="graph-apiEndpointUri-version" value="v1.0" />

    <add key="armResource" value="https://management.core.windows.net/" />
    <add key="tenantsUrl" value="https://management.azure.com/tenants?api-version=2016-01-29" />
    <add key="subscriptionsUrl" value="https://management.azure.com/subscriptions?api-version=2016-01-29" />
    <add key="AADPowerBIResourceId" value="https://analysis.windows.net/powerbi/api" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MigrationWinFormSample.Properties.Settings>
      <setting name="Tabs" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenedTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="prodAzureTokenExpiration" serializeAs="String">
        <value />
      </setting>
      <setting name="prodAzureToken" serializeAs="String">
        <value />
      </setting>
    </MigrationWinFormSample.Properties.Settings>
    <MigrationSample.Properties.Settings>
      <setting name="Tabs" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenedTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="prodAzureTokenExpiration" serializeAs="String">
        <value />
      </setting>
      <setting name="prodAzureToken" serializeAs="String">
        <value />
      </setting>
    </MigrationSample.Properties.Settings>
  </userSettings>
</configuration>